<?xml version="1.0" ?>
<robot name="target">  
  <link name="base">  
    <inertial>  
      <origin xyz="0 0 0" />  
      <mass value="100.0" />  
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />  
    </inertial>

    <visual>  
      <origin xyz="0 0 0"/>  
      <geometry>  
        <box size="0.2 0.2 0.01" />  
      </geometry>
    </visual>

    <collision>  
      <origin xyz="0 0 0"/>  
      <geometry>  
        <box size="0.0001 0.0001 0.0001" />  
      </geometry>  
    </collision>  

  </link>  
  <gazebo reference="base">  
    <material>Gazebo/digital_8</material>
  </gazebo> 
</robot>  